<html>
    <head>
    </head>
    <body>
        <h1>Geister</h1>
        <%= hello %>

    <button id="hoge">click</button>
    <script src="/js/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect(location.origin);
        socket.on('news', function (data) {
          console.log(data);
          socket.emit('my other event', { my: 'data' });
        });

        $('#hoge').click(function() {
            console.log('clicked');
            socket.emit('some happen', { a: 'bc' });
        });
    </script>

    </body>
</html>

