<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body>
        <h1>Geister</h1>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/uuid.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        function gen_username() {
            return UUID.generate();
        }
    </script>
    <script>
    var socket = io.connect(location.origin);
    socket.on('connect', function() {

        var username = sessionStorage.getItem('username');
        if (username) {
            socket.emit('login', { username: username });
        }
        else {
            username = gen_username();
            sessionStorage.setItem('username', username);
            socket.emit('signin', { username: username });
        }
    });

    socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', { my: 'data' });
    });
    </script>
    </body>
</html>

